@import 'bootstrap';
@import 'bootstrap-responsive';

body { padding-top: 60px; }
footer { margin-top: 45px; padding: 35px 0 36px; border-top: 1px solid #E5E5E5; }

//Checkbox right fix
label.checkbox { text-align: left !important; }
input[type=checkbox] { margin-right: 10px !important; }
